<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title layout:title-pattern="$CONTENT_TITLE | StoreDev Admin">StoreDev Admin</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

<main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container py-5 text-center">
        <section layout:fragment="content" th:remove="tag"></section>
    </div>
</main>

<footer class="py-4 bg-white mt-auto shadow-sm">
    <div class="container-fluid px-4 d-flex justify-content-between small">
        <div class="text-muted">
            © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> StoreDev
        </div>
        <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
