<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">

<head>
    <title>Edit Customer</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="mt-4">Edit Customer</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
        <li class="breadcrumb-item"><a th:href="@{/customers}">Customers</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>

    <div th:replace="~{fragment/customer/form :: form(@{'/customers/edit/' + ${customerId}})}"></div>
</section>
</body>
</html>
