<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/error}">
<head>
    <title>404 Not Found</title>
</head>

<body>
<section layout:fragment="content">
    <div class="text-center mt-4">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="lead">Page Not Found</p>
        <p th:text="${message != null && !#strings.isEmpty(message) ? message : 'The page you’re looking for doesn’t exist.'}">
            The page you’re looking for doesn’t exist.
        </p>
        <a onclick="window.history.back()" class="text-decoration-none" style="cursor: pointer">
            Return to Previous Page
        </a>
    </div>
</section>
</body>
</html>
